In [191]:
import pandas as pd

In [192]:
employee_d = {
    'id': [1],
    'name': ['Joe'],
    'salary':[0],
    'departmentId': [1]
}

employee = pd.DataFrame(employee_d)

In [163]:
filter_one = (employee.departmentId == 1) & (employee.salary == 90000)
employee[filter_one]

Empty DataFrame
Columns: [id, name, salary, departmentId]
Index: []

In [193]:
department_d = {
    'id':[1],
    'name':['IT']
}

In [165]:
filter = employee.groupby('departmentId').salary.max()

In [166]:
ndf = pd.DataFrame()
for id, salary in filter.items():
    nfilter = (employee.departmentId == id) & (employee.salary == salary)
    ndf = pd.concat([ndf, employee[nfilter]], axis=0, ignore_index=True )
ndf

   id name  salary  departmentId
0   1  Joe       0             1

In [167]:
department = pd.DataFrame(department_d)

In [168]:
comp_df = ndf.merge(department, how='left', left_on='departmentId', right_on='id')
comp_df.sort_values(by="id_x")
comp_df = comp_df[['name_y', 'name_x', 'salary']]
comp_df.columns = ['Department', 'Employee', 'Salary']
comp_df

  Department Employee  Salary
0         IT      Joe       0

In [202]:
def department_highest_salary(employee: pd.DataFrame, department: pd.DataFrame) -> pd.DataFrame:
    #Find out the highest salary in each department 
    if len(employee) > 0 and len(department) > 0:
        filter = employee.groupby('departmentId').salary.max()
        ndf = pd.DataFrame()
        for id, salary in filter.items():
            nfilter = (employee.departmentId == id) & (employee.salary == salary)
            ndf = pd.concat([ndf, employee[nfilter]], axis= 0, ignore_index= True )

        comp_df = ndf.merge(department, how='left', left_on='departmentId', right_on='id')
        # comp_df.sort_values(by="id_x")
        comp_df = comp_df[['name_y', 'name_x', 'salary']]
        comp_df.columns = ['Department', 'Employee', 'Salary']
        comp_df
        
        return comp_df
    elif len(employee) < 0 and len(department) < 0:
        return pd.DataFrame({"Department": [None], 
             "Employee": [None], 
             "Salary": [None]})[:0]

In [2]:
department_highest_salary(employee, department)

NameError: name 'department_highest_salary' is not defined